/* Global Styles */
body {
    font-family: 'League Spartan', sans-serif;
    background: linear-gradient(to right, #f8fbfd, #e6f1f6);
    color: #333;
}

h1, h2, h3 {
    color: #053c5e;
}

a {
    color: #0d6efd;
    transition: color 0.3s ease;
}

a:hover {
    color: #053c5e;
}

/* Navbar */
.glass-navbar {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.navbar-brand {
    font-weight: 700;
}

.nav-link {
    font-weight: 500;
    font-size: large;
}

.nav-link:hover {
    color: #053c5e;
}

/* Hero Section */
.hero-section {
    background: url('images/hero.jpg') center/cover no-repeat;
    height: 80vh;
}

.hero-section h1 {
    text-shadow: 0 3px 6px rgba(0,0,0,0.3);
}

.hero-section p{
    color: black;
}

/* Glass Sections */
.glass-section {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 1rem;
    backdrop-filter: blur(12px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* Badge Cards */
.badge-card {
    background: #e3f2fd;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    text-align: center;
    font-weight: 500;
    transition: transform 0.3s ease;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
}


.badge-card.green {
    background: #d0f8ce;
}

.badge-card:hover {
    transform: translateY(-5px);
}


.extra-info {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  font-size: 0.9rem;
  color: #333;
  margin-top: 0.5rem;
}

.badge-card.expanded .extra-info {
  max-height: 200px; /* or enough to show all content */
}


/*Contact badges*/
.contact-link {
  display: block;
  padding: 1rem;
  background: #e3f2fd;
  border-radius: 2rem;
  text-align: center;
  font-weight: 400;
  color: black;
  text-decoration: none;
  transition: background 0.4s ease, transform 0.4s ease;
  position: relative;
  overflow: hidden;
}

.contact-link:hover {
    color: white;
    transform: translateY(-5px) scale(1.05);
}

/* Instagram */
.contact-link.instagram:hover {
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    box-shadow: 0 8px 20px rgba(236, 64, 122, 0.6);
}

/* Facebook */
.contact-link.facebook:hover {
    background: linear-gradient(45deg, #1877f2, #4682f4);
    box-shadow: 0 8px 20px rgba(24, 119, 242, 0.6);
}

/* Whatsapp */
.contact-link.whatsapp:hover {
    background: linear-gradient(45deg, #075e54, #128c7e, #25d366, #dcf8c6); /* Purple-blue gradient for email */
    box-shadow: 0 8px 20px rgba(101, 48, 207, 0.6);
}



footer {
    background: #053c5e;
}
